<html>
<head>
    <style>
        body {
            margin: 2%;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
        }
        h1 {
            text-align: center;
        }
        ul {
            list-style-type: none;
        }
        .list {
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h1>My dream team</h1>
    <div class="list">
        <h2>Sviat</h2>
        <img src="assets\sviatik-photo.avif" alt="Person 6" width="300">
        <div>Literally Sviatik</div>
    </div>
</body>
</html>
<router-outlet></router-outlet>